@font-face {
  font-family: "iconfont"; /* Project id 5090349 */
  src: url('iconfont.woff2?t=1765878945715') format('woff2'),
       url('iconfont.woff?t=1765878945715') format('woff'),
       url('iconfont.ttf?t=1765878945715') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wode:before {
  content: "\e8c6";
}

.icon-gengduo:before {
  content: "\e61e";
}

.icon-jinru:before {
  content: "\e621";
}

