body{
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    margin: 0;
    height: 100vh;
    position: relative;
    flex-direction: row;
    
}
.header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}